/* e2ap_{{name}}.c */

// choice -> ok
EXTERN int asn1PE_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   RTXCTXPUSHTYPENAME (pctxt, "{{name}}");

   RTXCTXPUSHELEMNAME (pctxt, "t");
   stat = rtxEncBit (pctxt, pvalue->t-1, 3);
   if (stat != 0) return LOG_RTERR (pctxt, stat);
   RTXCTXPOPELEMNAME (pctxt);

   switch (pvalue->t) {
{% for choice in choices %}
      case {{choice.tag}}:
         RTXCTXPUSHELEMNAME (pctxt, "{{choice.name}}");
         stat = asn1PE_e2ap_{{choice.type}} (pctxt, pvalue->u.{{choice.field}});
         if (stat != 0) return LOG_RTERR (pctxt, stat);
         RTXCTXPOPELEMNAME (pctxt);
         break;
{% endfor %}
      default:
         return LOG_RTERR (pctxt, RTERR_INVOPT);
   }

   RTXCTXPOPELEMNAME (pctxt);
   return stat;
}

EXTERN int asn1PD_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   OSUINT32 ui;

   RTXCTXPUSHTYPENAME (pctxt, "{{name}}");

   stat = rtxDecBits (pctxt, &ui, 2);
   if (stat != 0) return LOG_RTERR (pctxt, stat);
   else pvalue->t = ui + 1;

   switch (pvalue->t) {
{% for choice in choices %}
      case {{choice.tag}}:
         RTXCTXPUSHELEMNAME (pctxt, "{{choice.name}}");
         
         pvalue->u.{{choice.field}} = rtxMemAllocType (pctxt, e2ap_{{choice.type}});
         if (pvalue->u.{{choice.field}} == NULL) 
            return LOG_RTERR (pctxt, RTERR_NOMEM);
         stat = asn1PD_e2ap_{{choice.type}} (pctxt, &pvalue->u.{{choice.field}});
         if (stat != 0) return LOG_RTERR (pctxt, stat);
         
         RTXCTXPOPELEMNAME (pctxt);
         break;
{% endfor %}
      default:
         return LOG_RTERR (pctxt, RTERR_INVOPT);
   }

   RTXCTXPOPELEMNAME (pctxt);
   return stat;
}

int asn1Init_e2ap_{{name}} (e2ap_{{name}}* pvalue)
{
   if (pvalue == 0) return RTERR_NULLPTR;
   pvalue->t = 0;
   OSRTLMEMSET (&pvalue->u, 0, sizeof(pvalue->u));
   return 0;
}

void asn1Free_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   if (pvalue == 0) return;
   switch (pvalue->t) {
{% for choice in choices %}
      case {{choice.tag}}:
         if (pvalue->u.{{choice.field}}) {
            asn1Free_e2ap_{{choice.type}} (pctxt, pvalue->u.{{choice.field}});
            rtxMemFreePtr (pctxt, (void*)pvalue->u.{{choice.field}});
         }
         break;
{% endfor %}
   }
   pvalue->t = 0;
}