/* e2ap_{{name}}.c */

//enumerated
/******************************************************/
/*                                                    */
/*    {{name}}                                       */
/*                                                    */
/***********************


const OSEnumItem e2ap_{{name}}_ENUMTAB[e2ap_{{name}}_ENUMTABSIZE] = {
{% for item in items %}
   { OSUTF8("{{item.string | replace('-', '_') }}"), {{item.value}}, {{item.string|length}}, {{item.transidx}} }{% if not loop.last %},{% endif %}
{% endfor %}
};

EXTERN int asn1PE_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}} value)
{
   int stat = 0;
   RTXCTXPUSHTYPENAME (pctxt, "{{name}}");
   if (value >= {{items|length}}) {
      rtxErrAddIntParm (pctxt, value);
      return LOG_RTERR (pctxt, RTERR_INVENUM);
   }
   stat = pe_ConsUnsigned (pctxt, value, 0, OSUINTCONST({{items|length - 1}}));
   RTXCTXPOPEXTNAME (pctxt);
   return (stat != 0) ? LOG_RTERR (pctxt, stat) : stat;
}

EXTERN int asn1PD_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   RTXCTXPUSHTYPENAME (pctxt, "{{name}}");
   stat = pd_ConsUnsigned (pctxt, pvalue, 0, OSUINTCONST({{items|length - 1}}));
   RTXCTXPOPEXTNAME (pctxt);
   return (stat != 0) ? LOG_RTERR (pctxt, stat) : stat;
}

EXTERN int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}}* pvalue, char* buffer, OSSIZE bufSize)
{
   int stat;
   const char* enumStr = "???";
   if (*pvalue < e2ap_{{name}}_ENUMTABSIZE) {
      enumStr = (const char*)e2ap_{{name}}_ENUMTAB[*pvalue].name;
   }
   if (rtPrintToStringIndent (buffer, bufSize) < 0) return -1;
   if (rtPrintToString (name, buffer, bufSize) < 0) return -1;
   stat = rtPrintToString (" = %s\n", enumStr, buffer, bufSize);
   return (stat < 0) ? -1 : 0;
}