/* e2ap_{{message_name}}.h */

//message name -> tao emlement thoi
/*****************************************/
/*           {{message_name}}   ->1N             */
/*****************************************/



EXTERN int asn1PE_e2ap_{{message_name}}_element (OSCTXT* pctxt, e2ap_{{message_name}}* pvalue);
EXTERN int asn1PD_e2ap_{{message_name}}_element (OSCTXT* pctxt, e2ap_{{message_name}}* pvalue);
EXTERN int asn1Init_e2ap_{{message_name}}_element (e2ap_{{message_name}}* pvalue);
EXTERN void asn1Free_e2ap_{{message_name}}_element (OSCTXT* pctxt, e2ap_{{message_name}}* pvalue);
