/* e2ap_{{message_name}}.c */
#include "e2ap_{{message_name}}.h"
#include "rtxsrc/rtxErrCodes.h"

EXTERN int asn1PE_e2ap_{{message_name}} (OSCTXT* pctxt, e2ap_{{message_name}}* pvalue)
{
   RTXCTXPUSHTYPENAME (pctxt, "{{message_name}}");
   int stat = asn1PE_e2ap_{{message_name}}_protocolIEs_Container (pctxt, &pvalue->protocolIEs);
   RTXCTXPOPTYPENAME (pctxt);
   return (stat != 0) ? LOG_RTERR (pctxt, stat) : 0;
}

EXTERN int asn1PE_e2ap_{{message_name}}_protocolIEs_Container (OSCTXT* pctxt, const e2ap_{{message_name}}_protocolIEs_Container* pList)
{
   int i, stat;
   RTXCTXPUSHTYPENAME (pctxt, "{{message_name}}-protocolIEs");

   stat = rtxEncLengthDeterminant (pctxt, pList->n);
   if (stat != 0) return LOG_RTERR (pctxt, stat);

   for (i = 0; i < pList->n; i++) {
      stat = asn1PE_e2ap_ProtocolIE_ID (pctxt, pList->elem[i].id);
      if (stat != 0) return LOG_RTERR (pctxt, stat);

      stat = asn1PE_e2ap_Criticality (pctxt, pList->elem[i].criticality);
      if (stat != 0) return LOG_RTERR (pctxt, stat);

      stat = rtxEncOpenTypeStart (pctxt);
      if (stat != 0) return LOG_RTERR (pctxt, stat);

      switch (pList->elem[i].id) {
{% for ie in ies %}
         case {{ie.ie_id_constant}}:
            stat = asn1PE_e2ap_{{ie.ie_type}} (pctxt, &pList->elem[i].value.{{ie.field}});
            break;
{% endfor %}
         default:
            return LOG_RTERR (pctxt, RTERR_INVOPT);
      }
      if (stat != 0) return LOG_RTERR (pctxt, stat);

      stat = rtxEncOpenTypeEnd (pctxt);
      if (stat != 0) return LOG_RTERR (pctxt, stat);
   }

   RTXCTXPOPTYPENAME (pctxt);
   return stat;
}