/* e2ap_{{name}}.h */
#ifndef _E2AP_{{name|upper}}_H_
#define _E2AP_{{name|upper}}_H_

#include "rtxsrc/rtxContext.h"
#include "rtxsrc/rtxDList.h"

{% if is_dynamic %}
typedef OSDynOctStr e2ap_{{name}};
{% else %}
typedef struct e2ap_{{name}} {
   OSUINT32 numocts;
   OSOCTET data[{{size}}];
} e2ap_{{name}};
{% endif %}

EXTERN int asn1PE_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}{% if is_dynamic %}*{% else %}*{% endif %} pvalue);
EXTERN int asn1PD_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}** ppvalue);
EXTERN void asn1Print_e2ap_{{name}} (const char* name, const e2ap_{{name}}* pvalue);
EXTERN int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}}* pvalue, char* buffer, OSSIZE bufSize);
EXTERN int asn1PrtToStrm_e2ap_{{name}} (OSCTXT* pctxt, const char* name, const e2ap_{{name}}* pvalue);
EXTERN int asn1Copy_e2ap_{{name}} (OSCTXT* pctxt, const e2ap_{{name}}* pSrcValue, e2ap_{{name}}* pDstValue);
EXTERN int asn1Init_e2ap_{{name}} (e2ap_{{name}}* pvalue);
EXTERN void asn1Free_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue);

#endif