
int asn1PE_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   OSBOOL extbit = FALSE;

   RTXCTXPUSHTYPENAME(pctxt, "{{name}}");

   stat = rtxEncBit (pctxt, extbit);
   if (stat != 0) return LOG_RTERR(pctxt, stat);

   {% for f in fields %}
   RTXCTXPUSHELEMNAME (pctxt, {{f.ie_type}});
   stat = asn1PE_e2ap_{{f.ie_type}} (pctxt, pvalue->{{f.field}});
   if (stat != 0) return LOG_RTERR(pctxt, stat);
   RTXCTXPOPELEMNAME (pctxt, {{f.ie_type}});

   {% endfor %}

   RTXCTXPOPTYPENAME(pctxt);
   return stat;
}

int asn1PD_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   ASN1OpenType openType;
   ASN1OpenType* pOpenType;
   OSUINT32 bitcnt;
   OSUINT32 i_;
   OSBOOL extbit = FALSE;
   OSBOOL optbits[4];

   RTXCTXPUSHTYPENAME(pctxt, "{{name}}");

   stat = DEC_BIT (pctxt, &extbit);
   if (stat != 0) return LOG_RTERR  (pctxt, stat);

   for (i_ = 0; i_ < 4; i_++) {
      stat = DEC_BIT (pctxt, &optbits[i_]);
      if (stat != 0) return LOG_RTERR (pctxt, stat);
   }

   {% for f in fields %}
   RTXCTXPUSHELEMNAME(pctxt, "{{f.field}}");
   stat = asn1PD_e2ap_{{f.ie_type}} ((pctxt, &pvalue->{{f.field}});
   if (stat != 0) return LOG_RTERR(pctxt, stat);
   {% endfor %}

   // chua xu ly extbit

   RTXCTXPOPTYPENAME (pctxt);
   return stat;
}

void asn1Init_e2ap_{{name}} (e2ap_{{name}}* pvalue)
{
   if (0 == pvalue) return RTERR_NULLPTR;
}

void asn1Free_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   if (0 == pvalue) return;
}